RewriteEngine On

# block certain files
RedirectMatch 403 ^/composer.*
RedirectMatch 403 ^/vendor

# route everything else to /index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]
